@using Microsoft.AspNetCore.Identity
@using Exico.Shopify.Data.Domain.DBModels
@inject SignInManager<AspNetUser> SignInManager
@inject UserManager<AspNetUser> UserManager
@inject IDbSettingsReader Settings


@if (SignInManager.IsSignedIn(User))
{

    <form asp-area="" asp-controller="@this.GetControllers().AccountController" asp-action="Logoff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right" @this.PrintViewNameAttr()>
            <li>
                <a asp-controller="@Settings.GetAppMyProfileControllerName()" asp-action="@Exico.Shopify.Web.Core.Controllers.BaseControllers.Interfaces.PROFILE_ACTIONS.Index" title="My Profile">My Profile</a>
            </li>
            @if (!this.ViewBag.UsesEmbededSdk)
            {
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
            }
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right" @this.PrintViewNameAttr()>
        <li><a asp-area="" asp-controller="@this.GetControllers().AccountController" asp-action="Login">Log in</a></li>
    </ul>
}
